main, header {
    max-height: 85vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 1rem auto;
}

.container {
    height: 680px;
    width: 680px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    flex: 1;
    display: flex;
    justify-content: center;
}

.col {
    flex: 1;
    border: 1px solid rgb(122, 121, 121);
    background-color: rgba(255, 255, 255, 1);
}

.erase, .btn-size {
    display: inline-block;
    width: 15%;
    margin: 0.5rem;
    background-color: salmon;
    color: white;
    padding: 0.6rem;
    font-size: 1.5rem;
    border-radius: 10px;
}